<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiplash-like Game - Config</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="app" class="container">
        <h1>Quiplash-like Game - Config (v1.1)</h1>
        <h2>Prompts</h2>
        <textarea v-model="rawPrompts" type="text"></textarea>
        <br>
        <button @click="sendPrompts">Update prompts</button>
        <br><br>
        <button @click="resetAll">Reset Game</button>
        <br><br>
        <button @click="forceStartVoting">Force Start Voting</button>
        <br><br>
        <button @click="forceNextQuestionVote">Force Next Question Vote</button>
        <br><br>
        <select  class="dropdown" v-model="selectedPlayerToAnswer">
            <option v-for="p in playersToAnswer" :key="p.id" :value="p.id">{{p.name}}</option>
        </select>
        <input v-model="playerAnswer" placeholder="Answer for player" class="name-input">
        <button @click="sendPlayerAnswer">Send player answer</button>
        <br><br>
        <textarea v-model="stateToSend" type="text"></textarea>
        <br>
        <button @click="sendState">Send state</button>
    </div>

    <script>
        const { createApp, ref, computed } = Vue;

        const app = createApp({
            setup() {
                const socket = io();
                const serverState = ref({});
                const rawPrompts = ref('');
                const stateToSend = ref('');
                const playersToAnswer = ref([]);
                const selectedPlayerToAnswer = ref('');
                const playerAnswer = ref('');

                const sendPrompts = () => {
                    const prompts = rawPrompts.value.split("\n");
                    socket.emit('newPrompts', prompts);
                };

                const resetAll = () => {
                    socket.emit('resetAll');
                }

                const forceStartVoting = () => {
                    socket.emit('forceStartVoting');
                }

                const forceNextQuestionVote = () => {
                    socket.emit('forceNextQuestionVote');
                }

                const sendPlayerAnswer = () => {
                    const plId = selectedPlayerToAnswer.value;
                    //const pl = serverState.value.players.find((p) => p.id == plId);
                    const crtRound = serverState.value.crtRound;
                    const roundQuestions = serverState.value.questions[crtRound];
                    const plQ = roundQuestions.find((q) => q.players.map((p) => p.id).includes(plId));
                    socket.emit('submitAnswerAsPlayer', plId, plQ.prompt, playerAnswer.value);
                }

                const sendState = () => {
                    socket.emit('sendState', JSON.parse(stateToSend));
                }

                socket.emit('receiveState');

                socket.on('state_dump', (state) => {
                    console.log(state);
                    serverState.value = state;
                    playerIdsWhoAnswered = state.answers.map((a)=>a.playerId);
                    playersToAnswer.value = state.players.filter((p) => !playerIdsWhoAnswered.includes(p.id));
                    console.log("Players to answer");
                    console.log()
                })

                return {
                    socket,
                    serverState,
                    rawPrompts,
                    stateToSend,
                    playersToAnswer,
                    selectedPlayerToAnswer,
                    playerAnswer,
                    sendState,
                    sendPrompts,
                    forceStartVoting,
                    forceNextQuestionVote,
                    sendPlayerAnswer,
                    resetAll,
                };
            }
        });

        app.mount('#app');
    </script>
</body>

</html>